.cells{
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px grey;
    padding: 20px;
    transition: transform .2s;
}
.cells:hover{
    transform: scale(1.1);
}
#bigLad{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content: center;
    margin-top: 30px;
}
img{
    image-rendering: pixelated;
}

#cam{
    opacity: 0;
    scale: 250%;
}

.buyButtoms{
    border-radius: 6px;
    border: none;
    transition: transform .2s;
}

.buyButtoms:hover{
    transform: scale(1.1);
}
.buyButtoms:active{
    transform: scale(3);
}

#pix{
    animation-name: rotater;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes rotater {
    from {transform: skewY(5deg) scale(0.9);}
    to {transform: skewY(-5deg) scale(1.2);}
  }